<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.example.com.counselor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="法律顾问"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.login.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".view.login.LoginActivity" android:theme="@style/TranslucentTheme" android:launchMode="singleTask"/>
        <activity android:name=".view.HomeActivity" android:theme="@style/TranslucentTheme" android:launchMode="singleTask"/>
        <activity android:name=".view.service.addadvice.AddAdviceActivity" android:theme="@style/TranslucentTheme" android:launchMode="singleTask"/>
        <activity android:name=".view.service.addcommon.AddCommonActivity" android:theme="@style/TranslucentTheme" android:launchMode="singleTask"/>

    </application>

</manifest>